@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Main.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "results"
    };
}
<script>
    var currentPage;
    var orderType;
    var numPages = 6;

    function OnSelectionChange(select) {
        currentPage = 1;
        RenderControls(currentPage);
        orderType = select.options[select.selectedIndex].value;
        $.ajax({
            url: '@Url.Action("UsersPage", "User")',
            data: 'page=1&sortOrder=' + orderType,
            type: 'get',
            success: function (result) {
                $('#results').html(result);
            }
        });
    }

    function PaginationChange(page) {
        currentPage = page;
        RenderControls(page);
        $.ajax({
            url: '@Url.Action("UsersPage", "User")',
            data: 'page=' + page + '&sortOrder=' + orderType,
            type: 'get',
            success: function (result) {
                $('#results').html(result);
            }
        });
    }

    function RenderControls(page) {
        currentPage = page;

        var pagingControls = '<nav aria-label="Page navigation example"><ul class="pagination justify-content-center">';
        pagingControls += '<li class="page-item';

        if (currentPage == 1) {
            pagingControls += ' disabled';
        }

        pagingControls += '"><input type="button" value="Previous" onclick="PaginationChange (' + (currentPage - 1) + ')" class="page-link"></li>';

        for (var i = 1; i <= numPages; i++) {
            if (i != currentPage) {
                pagingControls += '<li class="page-item"><input type="button" value="' + i + '" onclick="PaginationChange (' + i + ')" class="page-link"></li>';
            } else {
                pagingControls += '<li class="page-item disabled"><input type="button" value="' + i + '" onclick="PaginationChange (' + i + ')" class="page-link"></li>';
            }
            
        }

        pagingControls += '<li class="page-item';

        if (currentPage == numPages) {
            pagingControls += ' disabled';
        }

        pagingControls += '"><input type="button" value="Next" onclick="PaginationChange (' + (currentPage + 1) + ')" class="page-link"></li>';

        pagingControls += '</ul></nav>';

        $('#paginationControl').html(pagingControls);
    }
</script>

<div class="container" style="margin-bottom: 15px;margin-top:15px">
    <div class="row">
        <div class="col-md-7">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action" style="background-color: dimgray; color: aliceblue">
                    Users
                </button>
                <div id="results">
                    @Html.Action("UsersPage", new { page = 1 })
                </div>
            </div>
            <div id="paginationControl">
                <script>RenderControls(1);</script>
            </div>
        </div>
        <div class="col-md-2">
            <span>
                <select class="custom-select mr-sm-2" id="sortOrder" onchange="OnSelectionChange(this)">
                    <option selected value="Id">Id</option>
                    <option value="Name">Name</option>
                    <option value="MiddleName">MiddleName</option>
                    <option value="LastName">LastName</option>
                </select>
            </span>
            <span class="marginItem">
                <div style="margin-bottom: 15px;margin-top:15px">
                    <input type="button" class="btn btn-outline-success btn-block" value="Create" onclick="location.href = '@Url.Action("Create", "User")'" />
                </div>
                <div style="margin-bottom: 15px;margin-top:15px">
                    <input type="button" class="btn btn-outline-primary btn-block" value="Edit" onclick="location.href = '@Url.Action("Edit", "User")'"/>
                </div>
                <div style="margin-bottom: 15px;margin-top:15px">
                    <input type="button" class="btn btn-outline-danger btn-block" value="Delete" onclick="location.href = '@Url.Action("Delete", "User")'"/>
                </div>
                <div style="margin-bottom: 15px;margin-top:15px">
                    <input type="button" class="btn btn-outline-secondary btn-block" value="Cancel" onclick="location.href = '@Url.Action("Index", "Home")'"/>
                </div>
            </span>
        </div>
    </div>
</div>