@model WEB.Models.EditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<!DOCTYPE html>

<div class="container">
    <div class="row">
        <div class="col-md-4 container-center">
            @using (Html.BeginForm("Edit", "User", FormMethod.Post))
            {
                <div>
                    <div>
                        @Html.LabelFor(x => x.Name)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.Name)
                        <span>@Html.ValidationMessageFor(x => x.Name)</span>
                    </div>
                </div>
                <div>
                    <div>
                        @Html.LabelFor(x => x.MiddleName)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.MiddleName)
                        <span>@Html.ValidationMessageFor(x => x.MiddleName)</span>
                    </div>
                </div>
                <div>
                    <div>
                        @Html.LabelFor(x => x.LastName)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.LastName)
                        <span>@Html.ValidationMessageFor(x => x.LastName)</span>
                    </div>
                </div>
                <div>
                    <div>
                        @Html.LabelFor(x => x.Age)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.Age)
                        <span>@Html.ValidationMessageFor(x => x.Age)</span>
                    </div>
                </div>
                <div>
                    <div>
                        @Html.LabelFor(x => x.Phone)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.Phone)
                        <span>@Html.ValidationMessageFor(x => x.Phone)</span>
                    </div>
                </div>
                <div>
                    <div>
                        @Html.LabelFor(x => x.Address)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.Address)
                        <span>@Html.ValidationMessageFor(x => x.Address)</span>
                    </div>
                </div>
                <input type="submit" value="Edit" />
                <span>
                    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index", "Home")'" />
                </span>
            }
        </div>
    </div>
</div>
